<div id="categories" class="h-fit bg-slate-600">
     <h1 class="pt-24 text-5xl font-semibold ml-5 text-white underline">Job Categories</h1>
     <div class="w-full h-fit p-10 flex-col flex sm:flex-row justify-evenly">
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="my-2">Driver</li>
               <li class="my-2">Car Mechanic</li>
               <li class="my-2">AC technician</li>
               <li class="my-2">Carpenter</li>
               <li class="my-2">Cashier</li>
               <li class="my-2">Nurses</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="my-2">Driver</li>
               <li class="my-2">Car Mechanic</li>
               <li class="my-2">AC technician</li>
               <li class="my-2">Carpenter</li>
               <li class="my-2">Cashier</li>
               <li class="my-2">Nurses</li>
          </ul>
          <ul class="text-2xl text-white justify-evenly flex-col">
               <li class="my-2">Driver</li>
               <li class="my-2">Car Mechanic</li>
               <li class="my-2">AC technician</li>
               <li class="my-2">Carpenter</li>
               <li class="my-2">Cashier</li>
               <li class="my-2">Nurses</li>
          </ul>
     </div>
</div>