<nav class="fixed flex w-full h-24 pt-2 pl-24 bg-white border-2 drop-shadow-2xl border-cyan-600">
     <a href="#">
          <div class="flex flex-col">
               <div class="px-8 text-6xl font-semibold text-cyan-600">A P S</div>
               <div class="text-md text-cyan-600 w-96">airways placement services</div>
          </div>
     </a>

     <div class="flex flex-row justify-between w-full pt-8 text-2xl text-cyan-600 mr-72 ml-52">
          <a href="#home">Home</a>
          <a href="#clients">Clients</a>
          <a href="#aboutus">About US</a>
          <a href="#contactus">Contact Us</a>
          <a href="https://forms.gle/akhtmmPhwK3EVrSf8">Form</a>
     </div>
</nav>