<div id="home" class="h-screen ">

     <div class="border-2 border-black pt-24 h-3/4">
          <app-carousel></app-carousel>
     </div>

     <h1 class="text-2xl font-semibold text-center pt-7">Welcome to Airways placement services</h1>
     <p class="pt-4 text-xl text-justify mx-72 textIntent">Welcome to Airways Placement Services, your trusted partner in career excellence and workforce solutions. We are dedicated to bridging the gap between talented individuals and reputable organizations, delivering unparalleled recruitment services tailored to your needs. Together, let's achieve success and unlock new opportunities.</p>
</div>