
<div id="home" class="h-fit py-10 w-full">
     <div class="border-2 border-black pt-10 h-full">
          <app-carousel class="h-2/3"></app-carousel>
     </div>

     <div class="">


          <h1 class="text-2xl font-semibold text-center pt-7">Welcome to Airways placement services</h1>
          <h5 class="pt-4 px-5 text-xl text-justify mx-auto textIntent">Welcome to Airways Placement Services, your trusted
               partner in career excellence and workforce solutions.<span class="sm:flex hidden">We are dedicated to
                    bridging the gap between talented individuals and reputable organizations, delivering unparalleled
                    recruitment services tailored to your needs. Together, let's achieve success and unlock new
                    opportunities.</span></h5>
     </div>
</div>